body {
  margin: 0;
  font-family: 'amandine', sans-serif;
  background-color: #d3e8d7;
  color: #384b47;
}

:root{
  --clr-Black: #d3e8d7;
  --clr-Dark_Gray: #333;
  --clr-White: #384b47;
  --clr-Pink: #D63684;
  --clr-Light_Gray: #384b47;

  --ff-primary: 'amandine', sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;

  --fs-400: 1.125rem;
  --fs-500: 1.35rem;
  --fs-600: 1.575rem;
  --fs-700: 3.5rem;
  --fs-800: 6rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-tertiary-heading: var(--fs-600);
  --fs-nav: var(--fs-500);  
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
  font: inherit;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth !important;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html,
body{
  height: 100%;
  background-color: var(--clr-Black, #d3e8d7);
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.wrapper{
  max-width: 1420px;
  margin: 0 auto;
}

/* Utilities */
.text-center{
  text-align: center;
}

.align-center{
  display: flex;
  justify-content: center;
  align-items: center;
}



.outline{
  border: 2px solid var(--clr-White);
  border-style: solid;
}

.outline-black{
  border: 2px solid var(--clr-Black);
  border-style: solid;
}

.fs-primary-heading{
  font-size: var(--fs-primary-heading);
  font-weight: var(--fw-semi-bold);
  font-family: var(--ff-primary);
}

.fs-secondary-heading{
  font-size: var(--fs-secondary-heading);
  font-family: var(--ff-primary);
}



.fs-nav{
  font-size: var(--fs-nav);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary);
}






.text-pink{
  color: var(--clr-Pink);
}

.text-light-gray{
  color: var(--clr-Light_Gray);
}

.text-black{
  color: var(--clr-Black);
}

.text-white{
  color: var(--clr-White);
}

.bg-pink{
  background-color: var(--clr-Pink);
}

.bg-light-gray{
  background-color: var(--clr-Light_Gray);
}

.bg-black{
  background-color: var(--clr-Black);
}

.bg-white{
  background-color: var(--clr-White);
}

.p-1{
  padding: 2em;
}

.mb-1{
  margin-bottom: 1.5rem;
}

hr{
  height: 1em;
  border: none;
}



